{% load static %}
<!DOCTYPE html>
<html
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:og="http://ogp.me/ns#"
>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta property="og:title" content="LASE interview" />
        <meta
            property="og:image"
            content="https://telegra.ph/file/3f025e238889e7c1393ce.png"
        />
        <meta
            property="og:description"
            content="Student media body of IIT Bombay"
        />
        <meta property="og:url" content="https://insightiitb.netlify.app" />

        <title>InSight IIT Bombay | Student Media Body, IIT Bombay</title>

        <!--
    - favicon
  -->
        <link
            rel="shortcut icon"
            href="{% static 'blog/images/favicon.svg' %}"
            type="image/x-icon"
        />

        <!--
    - custom css link
  -->
        {% block customCSS %} {% endblock%}

        <!--
    - google font link
  -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <!-- fontawesome icons -->
        <script
            src="https://kit.fontawesome.com/f548d3c36a.js"
            crossorigin="anonymous"
        ></script>
    </head>

    <body class="light-theme">
        <!--
    - #HEADER
  -->

        <header class="header sticky">
            <div class="container nav-container">
                <nav class="navbar">
                    <a href="#">
                        <img
                            src="{% static 'blog/images/insight-iitb-logo.png' %}"
                            alt="insight logo"
                            width="150"
                            class="logo-light"
                        />
                        <img
                            src="{% static 'blog/images/insight-iitb-logo.png' %}"
                            alt="insight logo"
                            width="150"
                            class="logo-dark"
                        />
                    </a>

                    <div class="btn-group">
                        <button class="theme-btn theme-btn-mobile light">
                            <ion-icon name="moon" class="moon"></ion-icon>
                            <ion-icon name="sunny" class="sun"></ion-icon>
                        </button>

                        <button class="nav-menu-btn">
                            <ion-icon name="menu-outline"></ion-icon>
                        </button>
                    </div>

                    <div class="flex-wrapper">
                        <ul class="desktop-nav">
                            <li>
                                <a href="#" class="nav-link">Home</a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">Summer Blog</a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">Our Team</a>
                            </li>
                        </ul>

                        <button class="theme-btn theme-btn-desktop light">
                            <ion-icon name="moon" class="moon"></ion-icon>
                            <ion-icon name="sunny" class="sun"></ion-icon>
                        </button>
                    </div>

                    <div class="mobile-nav">
                        <button class="nav-close-btn">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>

                        <div class="wrapper">
                            <p class="h3 nav-title">Main Menu</p>

                            <ul>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Summer Blog</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Our Team</a>
                                </li>
                            </ul>
                        </div>

                        <!-- <div>
                            <p class="h3 nav-title">Topics</p>

                            <ul>
                                <li class="nav-item">
                                    <a href="#" class="nav-link y-comb"
                                        >Y-Combinator News</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link ew"
                                        >Entrepreneurial World</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        href="#"
                                        class="nav-link remove-topic-nav"
                                        >Clear Filter</a
                                    >
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </nav>
            </div>
        </header>
        {% block content %} {% endblock %}
        <footer>
            <div class="container">
                <div class="wrapper">
                    <a href="#" class="footer-logo">
                        <img
                            src="{% static 'blog/images/insight-iitb-logo.png' %}"
                            alt="insight's Logo"
                            width="150"
                            class="logo-light"
                        />
                        <img
                            src="{% static 'blog/images/insight-iitb-logo.png' %}"
                            alt="insight's Logo"
                            width="150"
                            class="logo-dark"
                        />
                    </a>
                    <p class="footer-text">
                        The official Student Media Body of IIT Bombay
                    </p>
                </div>
                <div class="wrapper">
                    <p class="footer-title">Chief Editors</p>

                    <ul>
                        <li class="footer-text">
                            Achintya Kunj Goyal <br />
                            <a href="tel:+919819817345" class="footer-link"
                                ><i class="fa fa-phone" aria-hidden="true"></i>
                                +91-9819817345</a
                            >
                        </li>

                        <li class="footer-text">
                            Muskaan Chandra<br /><a
                                href="tel:+919833202169"
                                class="footer-link"
                                ><i class="fa fa-phone" aria-hidden="true"></i>
                                +91-9833202169</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="wrapper">
                    <p class="footer-title">Microsites</p>

                    <ul>
                        <li>
                            <a
                                href="https://mba-miniguide-india-chapter-insight.netlify.app/"
                                class="footer-link"
                                >MBA Mini Guide - India Chapter</a
                            >
                        </li>

                        <li>
                            <a
                                href="https://mba-us-chapter-insight.netlify.app/"
                                class="footer-link"
                                >MBA Mini Guide - US Chapter</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <p class="copyright" style="margin-top: 0">
                Copyright &copy; 2022 <a href="#">InSight, IIT Bombay</a>
            </p>
        </footer>

        <!-- GSAP -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/ScrollTrigger.min.js"></script>

        <!--
    - custom js link
  -->
        <script src="{% static 'blog/js/script.js' %}"></script>
        <!--        
    - ionicon link
  -->
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </body>
</html>
